*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: $base-font-size;
  line-height: 1.5;
  color: var(--color-fg-default);
  background-color: var(--color-bg-default);
  transition: color 0.2s ease, background-color 0.2s ease;
}

.container {
  width: 100%;
  max-width: $bp-xl;
  margin: 0 auto;
  padding: 0 $base-padding * 2;
}
