@use "sass:math";

$grid-columns: 12;

.row {
  display: flex;
  flex-flow: row wrap;
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    flex: 0 0 math.percentage(math.div($i, $grid-columns));
    max-width: math.percentage(math.div($i, $grid-columns));
  }
}

@include md {
  @for $i from 1 through $grid-columns {
    .col-md-#{$i} {
      flex: 0 0 math.percentage(math.div($i, $grid-columns));
      max-width: math.percentage(math.div($i, $grid-columns));
    }
  }
}

@include lg {
  @for $i from 1 through $grid-columns {
    .col-lg-#{$i} {
      flex: 0 0 math.percentage(math.div($i, $grid-columns));
      max-width: math.percentage(math.div($i, $grid-columns));
    }
  }
}
