<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://sean7218.github.io">
      Sean's Blog
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      {% for item in site.data.navigation %}
      <a href="{{ item.link }}" class="navbar-item">
        {{ item.name }}
      </a>
      {% endfor %}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-dark" href="https://github.com/sean7218">Github</a>
          <a class="button is-link" href="https://discordapp.com/users/sean7218">Discord</a>
        </div>
      </div>
    </div>
  </div>

</nav>