.flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar {
  @extend .flex-layout;
  padding: $base-padding $base-padding * 2;
  font-size: $base-font-size;
  a {
    text-decoration: none;
  }

  .navbar-brand {
    font-size: $font-size-lg;
  }

  .navbar-menu {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px $base-padding 0 $base-padding;
  }

  .navbar-item {
    align-items: flex-start;
  }
}